#header-background {
    width: 100%;
    clear: both;
    overflow: hidden;
    background-size: cover;
    height: 200px;

}

.header-left, .header-center, .header-right {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 300px;
}

.header-top-line {
    height: 30px;
    float: right;
    clear: both;
    line-height: 30px;
}

.header-hyperlinks {
    clear: both;
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 80px;
}

.header-hyperlinks a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-right: 20px;
}

.header-top-line a {
    text-decoration: none;
    color: #6b6b6b;
    text-transform: uppercase;
    margin-right: 20px;
}

.header-hyperlinks a:hover, .header-top-line a:hover {
    color: #fe750b;
}

/* Desktop Screen */

@media only screen and (min-width : 1025px) {
.mobile-screen { display: none; }
.header-link { display: inline-block; width: 50%; }

}

/* Mobile Screen */

@media only screen and (max-width : 1024px) {
#mobile-logo { display: hidden; }
#header-background { height: 400px; }
.header-center { display: none; }
.header-link { width: 100%; height: 30px; }
}